.Task {
    border-radius: 8px;
    border: 1px solid #000;
    margin-bottom: 15px;
    width: 50%;
}

.Task-buttons {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.Task-editButtons {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}